.container {
	display: flex;
	justify-content: center; 
	align-items: center;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	width: 100%;
    height:100%;
	flex-direction: column;
}

.game {
	width:425px;
    height:400px;
	margin: 20px;
	padding: 20px;
}

.btn-start-game {
	margin-top: 50px; 
}


a.botao {
	margin-top: 100px;
	font-size: 20px;
	background-color: lightgreen;
	padding: 15px;
	border-radius: 5px;
}

a:link, a:visited {
    background-color: white;
    color: green;
    text-decoration: none;
    border: 4px solid green;
}

a:hover, a:active {
    background-color: lightgreen;
    color: green;
    border: 4px solid green;
	cursor: pointer;
}

ul li {
	list-style: none;
	width: 110px;
	height: 110px;
	float: left;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.kz-border-bottom {
	border-bottom: 8px solid #333;
}

.kz-border-right {
	border-right: 8px solid #333;
}

.kz-img-x {
	background-image: url('/assets/imagens/x.png');
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.kz-img-o {
	background-image: url('/assets/imagens/o.png');
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
	}
	@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}

}

.kz-cor-vitoria {
	background-color: lightgreen;	
}

.zoom {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes zoomIn {
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	50% {
	opacity: 1;
	}
	}
	@keyframes zoomIn {
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	50% {
	opacity: 1;
	}
}




